@import '../all-dialog';
.event-filter{
  margin-bottom: 1%;
  .grid-contain{
    display:block;
    .grid-head{
      font-size: 13px;
      font-weight: 600;
      color: #6e7777;
    }
  }
  .segments-main{
    display:flex;
    border: 1px solid rgb(215, 218, 218);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 -1px 5px 0 rgba(0,0,0,.12);
    .filter-con{
      position: relative;
      display: flex;
      width: 100%;
      fuse-event-filter{
        width: 100%;
      }
    }
    .segment-tile{
      width: 50%;
      padding: 1%;
      height: auto;
      min-height: 200px;
      background: #fff;
      &.first-seg {
        border-right: 1px solid rgb(215, 218, 218);
      }
    }
    &.metric{
      border-top: none;
    }
    .metric-tile{
      width: 100%;
      padding: 1%;
      height: auto;
      min-height: 50px;
      background: #fff;
      mat-radio-button{
        padding: 2px 11px 2px 2px;
        border-radius: 15px;
        font-size: 14px;
        color: #00a7cf;
        &.mat-radio-checked {
          background-color: #00a7cf;
          color: #fff;
        }
      }
      .mat-radio-container{
        display:none;
      }
    }
    &.top-head-seg{
      border: none;
      display: block;
      box-shadow: none;
      .chart-name{
        float:left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 0;
        border-radius: 2px;
        line-height: 22px;
        padding: 0 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        overflow: hidden;
        font-size: 15px;
        color: #0094b5;
        background-color: #e1f0f5;
        border: 1px solid #e1f0f5;
      }
      .chart-actions{
        float: right;
        width: 30px;
        height: 30px;
        padding: 0px 5px 5px 5px;
        cursor: pointer;
        i {
          color: #00a7cf;
          fill: #00a7cf;
          font-size:20px;
          div{
            font-size:10px;
          }
          &:hover{
            color: #1da19a;
          }
        }
      }

    }
  }
}


