<div class="cohort-chart">
    <div *ngIf="type ==='column'">
        <div *ngFor = "let chart of charts">
            <fuse-column-chart [chartData] = "chart.definedChartData" [chartType] = "chart.definedChart"></fuse-column-chart>
        </div>      
    </div>
    <div *ngIf="type ==='line'">
        
            <div *ngFor="let chart of charts">
                <fuse-line-chart [chartData] = "chart.definedChartData" [chartType] = "chart.definedChart"></fuse-line-chart>
            </div> 
       
        <!-- <div class="spinner-load" *ngIf="!isLoaded">
                <mat-spinner class="spin-color" [strokeWidth]="5"></mat-spinner>
        </div> -->
    </div>
</div>
