<div>
    <div class="page-layout blank p-24">
        <div class="chart-container">
            <div class="filt-cont">
                <div class="chart-fill-title">
                    <h3>Filter</h3>
                </div>
                <div class="date-filter-container">
                    <fuse-date-octo-filter [granular]="granulars" [granularity]="chartFilterData.granularity"
                                           [timeWindow]="chartFilterData.timeWindow" [timeWindowList]="timeWindow"
                                           (timeWindowChanged)="changeInTimeWindow($event)"></fuse-date-octo-filter>
                </div>
            </div>
            <div class="main-chart-container">
                <mat-card>
                    <mat-card-content>
                        <mat-tab-group class="demo-tab-group">
                            <mat-tab label={{row.name}} *ngFor="let row of rows">
                                <div class="demo-tab-content">
                                    <fuse-chart-cohort [type]="row.type" [data]="row.data"></fuse-chart-cohort>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</div>
