@import '../../all-dialog';

$radio-width: 10px;
$radio-height: $radio-width !default;
$radio-text-margin: 10px !default;
$radio-top-left: 12px !default;
$radio-margin: 8px;
$radio-unchecked-color: rgba(255,82,82,0.87);
$radio-checked-color: rgba(56,189,86,0.87);

%center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-save{
  .example-container{
    .edit-fields{
      text-align: center;
      .example-section{

      }
    }
  }
}
/*.dialog-save{
  margin: 20px auto;
  width:90%;
  display: table;
  position: relative;
  height: 400px;
  h2{
    @extend %center-flex;
  }
  .cross-sign{
    position: absolute;
    right: 0;
    top: 0;
  }
  .example-container {
    flex-wrap: wrap;
    @extend %center-flex;
    div {
      width:90%;
      margin-bottom: 25px;
      @extend %center-flex;
      .mat-form-field {
        width: 75%;
        .mat-input-element{
          color: #000;
          margin-left: 14%;
        }
        .mat-input-placeholder.mat-form-field-placeholder{
          position: relative;
        }
      }
      .mat-error{
        position: absolute;
        font-size: 10px;
      }
      &.mat-add-div{
        width: 100%;
      }
      &.att-label{
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.54);
      }
      &.attribute-rad {
        width: 80%;
        mat-radio-group {
          width: 100%;
          .mat-radio-button {
            font-size: 13px;
            width: 35%;
          }
        }
      }
    }
  }
  .mat-dialog-actions {
    @extend %center-flex;
    flex-wrap: wrap;
    .mat-button {
      border: 1px solid;
      color: #fc6d69;
    }
  }
}*/


