<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" (click)="toggleSelect()">
        <span class="pull-left" [ngClass]="{'not-place':localHeader!==header}">{{localHeader}}</span>
        <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu multi-select-popup" [ngStyle]="{display:isOpen ? 'block' : 'none'}" style="display:block;">
        <li class="filter-container">
            <div class="has-feedback filter">
                <input type="text" [(ngModel)]="filterText"/>
                <span class="clear-filter fa fa-times-circle-o" (click)="clearFilter()"></span>
            </div>
        </li>
        <li *ngFor="let item of items| filter:{viewValue:filterText}" (click)="select(item)">
            <a  class="dropdown-item">
                <span >{{item.viewValue}}</span>
            </a>
        </li>
    </ul>
</div>
