@import '../common.theme';
.table-cont {
  border: 1px solid #d7dada;
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow-x: scroll;
    ul{
      display: flex;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        width: 120px;
        min-width: 120px;
        height: 40px;
        display: flex;
        align-items: center;
        border-top: 1px solid #d7dada;
        color: #6e7777;
        padding: 0 12px;
        background-color: #fff;
        border-right: 1px solid #adb3b3;
        &.first-head {
          position: absolute;
          margin-left: 0;
          max-width: 224px;
          min-width: 150px;
          width: 224px;
          font-size: 13px;
          border-right: 2px solid #adb3b3;
          color: #000;
          background-color: #f2fafc;
          font-family:effra,Helvetica,Arial,sans-serif;
          font-weight: 500;
          word-break: break-all;
        }
        &.second-head {
          margin-left: 225px;
        }
      }
      &.tab-header{
        li{
          font-family:effra,Helvetica,Arial,sans-serif;
          font-size: 13px;
          font-weight: 600;
          color:#6e7777;
          cursor: pointer;
          .head-name{
            width: 90%;
          }
          .sort-but{
            display: flex;
            align-items: flex-end;
            color: #bdc2c2;
            &.fa-sort-asc, &.fa-sort-desc{
              color: #000000;
            }
          }
        }
      }
      &.tab-columns{
        &.odd-row{
          li{
            background-color: $alternate-list-color;
            &.first-head{
              &.odd-row{
                background-color: #e7eef0;
              }
            }
          }
        }
      }
    }
  }

  .example-header {
    min-height: 40px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .export-but{
      color: #22bbb3;
      fill: #22bbb3;
      border-radius: 25px;
      border: 1px solid #22bbb3;
      width: 120px;
      height: 28px;
      cursor: pointer;
    }
    .inp-search-field{
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #d7dada;
      padding: 0 10px;
      margin: 0 15px;
      font-family: Campton,Helvetica,Arial,sans-serif;
      i{
        height: 12px;
        min-height: 12px;
      }
      .mat-form-field {
        font-size: 14px;

      }
    }
  }
}


